{% extends "base.html" %}

{% block title %}Add Note{% endblock %}

{% block content %}
  <h1 class="display-5">Add Note</h1>
  <form action="{{ url_for('create') }}" method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Content</label>
      <textarea class="form-control" rows="6" id="content" name="content" required></textarea>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
    <a href="{{ url_for('index') }}" class="btn btn-outline-secondary">Cancel</a>
  </form>
{% endblock %}